section{
    &.meun{
        margin-top: 50px;
        width: 90%;
        margin: 50px auto;
        h1{
            font-size: 35px;
            text-transform: capitalize;
            text-align: center;
        }
        .meun-card{
            margin-top: 50px;
           
          
            @media (max-width:768px) and (min-width:99px){
                
            //    margin: 50px auto;
               
             } 
          
                  
              @media (max-width:767px){
                display: block;
                // margin: 50px 30px;
            
              }
              .one{
              float: left;
              width: 30% ;
              @media (max-width:768px) and (min-width:99px){
                
                width: 40%;
                
               
             } 
              
              }
              .two{
               float: left ;
               width: 30% ;
               @media (max-width:768px) and (min-width:99px){
              
                width: 40%;
                
               
             } 
              }
              .three{
              float: right;
              width: 30% ;
              @media (max-width:768px) and (min-width:99px){
                  float: left;
                  width: 86%;
                 
               } }
         
            .card{
                border: none;
             
                margin: 10px 20px ;
           
                
              
               .card-body{
                background-color: #999;
                border-radius: 0%;
                border:2px solid #000000;
                box-sizing: border-box;
                font-size: 15px;
                   padding: 0;
                   p{
                       padding: 5px;
                       clear: right;
                   }
                   .name{
                       width: 120px;
                       height: 30px;
                       float: right;
                       text-align: center;
                       border: 2px solid #000000;
                   }
                   #meun1{
                 background-color: #d59898;
                   }
                   #meun2{
                       background-color: #c14543;
                   }
                   #meun3{
                    background-color: #e5d198;
                   }
               }
            }
        }
    }
}